body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    direction: rtl;
    text-align: right;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
}

header .logo h1 {
    margin: 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.about {
    padding: 2rem;
    background: #f4f4f4;
    text-align: center;
    margin: 2rem 0;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.about p {
    max-width: 800px;
    margin: 0 auto;
    color: #333;
    font-size: 1rem;
    line-height: 1.6;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    margin-top :35rem;
    padding: 1rem 0;
}